@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-heading: 'Poppins', sans-serif;

  --animate-bounce-slow: bounce 3s infinite;
  --animate-float: float 6s ease-in-out infinite;

  @keyframes float {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-20px);
    }
  }
}

:root {
  font-family: var(--font-sans);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}